

@* @{ *@
@*     Layout = null; *@
@* } *@

<!DOCTYPE html>

<html>
<head>
    <title>Exercises</title>
</head>

@model IEnumerable<Exercise>

<body>
<h2>Search for an Exercise</h2>

<div>
    <form method="get" asp-controller="Exercise" asp-action="Index">
        <input type="text" name="searchTerm" id="search-input" class="form-control" placeholder="Search for exercises" />
        
        <button type="submit">Search</button>
    </form>
</div>
<div id="results-container"></div>
@if (Model != null && Model.Any())
{
    <p>Click on an exercise to save it as a workout.</p>
    <ul>
        @foreach (var exercise in Model)
        {
            <h3><a href="/Workout/CreateWorkout/?exerciseName=@exercise.Name">@exercise.Name</a></h3>
            <p><strong>Body Part: @exercise.BodyPart </strong></p>
            <p><strong>Target Muscle: @exercise.Target </strong></p>
            <p>Equipment Used: @exercise.Equipment</p>
            <img src="@exercise.GifUrl" alt="@exercise.Name" width="200" height="200">
            
            <h4>Instructions:</h4>
            <ul>
                @foreach (var step in exercise.Instructions)
                {
                    <li>@step</li>
                }
            </ul>
        }
    </ul>
}
else if (Model != null)
{
    <p>No exercises found.</p>
}

<script src="~/js/search.js"></script>
</body>
</html>