

@* @{ *@
@*     Layout = null; *@
@* } *@

<!DOCTYPE html>

<html>
<head>
    <title>Exercises</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

@model IEnumerable<Exercise>

<body>
<div class="search-page">
<h2 class="heading">Fitness Tracker</h2>
<div class="form-container">
    <form class="row justify-content-center" method="get" asp-controller="Exercise" asp-action="Index">
    
        <div class="col-10 position-relative">
            <input type="text" name="searchTerm" id="search-input" class="form-control form-control-lg" placeholder="Search for exercises"/>
            <div id="search-suggestions"></div>
            </div>
        <div class="col-2 col-md-auto">
            <button id="search-btn" class="btn btn-primary btn-lg" type="submit">Search</button>
        </div>
    </form>
    
</div>

<div id="results-container">
</div>
@if (Model != null && Model.Any())
{
    <ul>
        @foreach (var exercise in Model)
        {
            <h3>@exercise.Name</h3>
            <div class="save-btn d-flex flex-row-reverse p2"><a href="/Workout/CreateWorkout/?exerciseName=@exercise.Name">Save as a workout</a></div>
            <p><strong>Body Part: @exercise.BodyPart </strong></p>
            <p><strong>Target Muscle: @exercise.Target </strong></p>
            <p>Equipment Used: @exercise.Equipment</p>
            <img src="@exercise.GifUrl" alt="@exercise.Name" width="200" height="200">
            
            <h4>Instructions:</h4>
            <ul>
                @foreach (var step in exercise.Instructions)
                {
                    <li>@step</li>
                }
            </ul>
        }
    </ul>
}
else if (Model != null)
{
    <p>No exercises found.</p>
}
</div>

<script src="~/js/search.js"></script>
</body>
</html>