

@* @{ *@
@*     Layout = null; *@
@* } *@

<!DOCTYPE html>

<html>
<head>
    <title>Exercises</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>

@model IEnumerable<Exercise>

<body>
<div class="search-page">
<h2 class="heading">Exercise Search</h2>
<div class="form-container">
    <form class="row justify-content-center" method="get" asp-controller="Exercise" asp-action="Index">
    
        <div class="col-12 col-sm-10 position-relative mb-2">
            <input type="text" name="searchTerm" data-mode="full" id="search-input" class="exercise-search form-control form-control-lg" placeholder="Search for exercises"/>
            <div id="search-suggestions"></div>
            </div>
        <div class="col-12 col-sm-2 d-flex justify-content-center">
            <button id="search-btn" class="btn btn-primary btn-lg" type="submit">Search</button>
        </div>
    </form>
    
</div>

<div >
</div>
@* Displays search results if any: *@
<div id="results-container">
    @if (Model != null && Model.Any())
    {
        
        @foreach (var exercise in Model)
        {
            
            <div class="card shadow-sm rounded-3 mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title">@exercise.Name</h3>
                        <a class="btn btn-primary" href="/Workout/CreateWorkout/?exerciseName=@exercise.Name">Save as workout</a></div>
                    <p><strong>Body Part: </strong>@exercise.BodyPart</p>
                    <p><strong>Target Muscle: </strong>@exercise.Target </p>
                    <p><strong>Equipment Used: </strong>@exercise.Equipment</p>
                    <img src="@exercise.GifUrl" alt="@exercise.Name" width="200" height="200">

                    <p></p>
                    <p><strong>Instructions:</strong></p>
                    <ul>
                        @foreach (var step in exercise.Instructions)
                        {
                            <li>@step</li>
                        }
                    </ul>
                </div>
            </div>
            
        }
        
    
                
    }
    else if (Model != null)
    {
        <p>No exercises found.</p>
    }
</div>
</div>


<script src="~/js/search.js"></script>
</body>
</html>