@model Workout

<!DOCTYPE html>

<html>
<head>
    <title>Update Workout</title>
</head>
<body>
<div>
    @using (Html.BeginForm("UpdateWorkoutToDataBase", "Workout", "Post"))
    {
        <input asp-for="WorkoutId" type="hidden" value="@Model.WorkoutId" />

        <label asp-for="WorkoutDate" class="control-label">Date</label>
        <input asp-for="WorkoutDate" type="date" name="WorkoutDate" id="date" class="form-control" value="@Model.WorkoutDate.ToString("yyyy-MM-dd")" />

        <label asp-for="ExerciseName" class="control-label">Exercise Name</label>
        <input asp-for="ExerciseName" type="text" name="ExerciseName" class="form-control" value="@Model.ExerciseName" />

        <h3>Sets</h3>
        
        <div id="sets-container">
            @if (Model.Sets.Any())
                
            {
                for (int i = 0; i < Model.Sets.Count; i++)

                {
                    <div class="set-template set-group">
                        <h4>Set @(i + 1)</h4>
                        <button type="button" class="delete-saved-set-btn" data-set-id="@Model.Sets[i].SetId">&times;</button>
                    
                        <input type="hidden" name="Sets[@i].SetId" value="@Model.Sets[i].SetId"/>

                        <input type="hidden" name="Sets[@i].SetNumber" class="form-control" value="@Model.Sets[@i].SetNumber"/>

                        <label>Reps</label>
                        <input type="number" name="Sets[@i].Reps" class="form-control" value="@Model.Sets[@i].Reps"/>

                        <label>Weight</label>
                        <input type="number" name="Sets[@i].Weight" class="form-control" value="@Model.Sets[@i].Weight"/>
                    </div>
                }
            }

        </div>
        <div id="deleted-set-ids"></div>
        <button type="button" id="add-set-btn" class="btn btn-secondary">Add Set</button>

        <textarea asp-for="Notes" name="notes" rows="5" width="50%" placeholder="Enter any notes here..." value="@Model.Notes"></textarea>

        <input type="submit" value="Update" class="btn btn-primary" />
    }
</div>
<script>
    let setCount = @(Model.Sets == null || !Model.Sets.Any() ? 0 : Model.Sets.Count());
</script>
<script src="~/js/createWorkout.js"></script>

</body>
</html>