@model Workout

<!DOCTYPE html>

<html>
<head>
    <title>Update Workout</title>
</head>
<body>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Workout" asp-action="Index">All Workouts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Update Workout</li>
    </ol>
</nav>
<div class="d-flex justify-content-center">
    <div class="card rounded-3 col-md-6">
        <div class="card-body">
            <h2 class="ps-2">Update Workout</h2>
            <div>
                @using (Html.BeginForm("UpdateWorkoutToDataBase", "Workout", "Post"))
                {
                    <div class="container">
                        <div class="row mb-3">

                            <input asp-for="WorkoutId" type="hidden" value="@Model.WorkoutId"/>
                            <div class="form-group">
                                <label asp-for="WorkoutDate" class="control-label">Date</label>
                                <input asp-for="WorkoutDate" type="date" name="WorkoutDate" id="date" class="form-control" value="@Model.WorkoutDate.ToString("yyyy-MM-dd")"/>
                            </div>
                        </div>
                        

                        <div class="form-group position-relative mb-4">
                            <label asp-for="ExerciseName" class="control-label">Exercise Name</label>
                            <input asp-for="ExerciseName" type="text" name="ExerciseName" class="form-control" value="@Model.ExerciseName"/>
                        </div>

                        <div id="sets-container">
                            @if (Model.Sets.Any())

                            {
                                for (int i = 0; i < Model.Sets.Count; i++)

                                {
                                    <div class="row me-2">
                                        <div class="set-template set-group ms-2">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h3 class="set-heading">Set @(i + 1)</h3>
                                                <button type="button" class="btn-close delete-saved-set-btn mb-2" data-set-id="@Model.Sets[i].SetId"></button>
                                            </div>

                                            <input type="hidden" name="Sets[@i].SetId" value="@Model.Sets[i].SetId"/>

                                            <input type="hidden" name="Sets[@i].SetNumber" class="form-control" value="@Model.Sets[@i].SetNumber"/>

                                            <div class="row">
                                                <div class="form-group col-md-2">
                                                    <label>Weight</label>
                                                    <input type="number" name="Sets[@i].Weight" class="form-control" value="@Model.Sets[@i].Weight"/>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Reps</label>
                                                    <input type="number" name="Sets[@i].Reps" class="form-control" value="@Model.Sets[@i].Reps"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>



                        <div id="deleted-set-ids"></div>
                        <button type="button" id="add-set-btn" class="btn btn-secondary mt-2 mb-4">Add Set</button>
                        <div class="col-md-8">
                            <textarea asp-for="Notes" name="notes" class="form-control" rows="5" width="50%" placeholder="Enter any notes here..." value="@Model.Notes"></textarea>
                        </div>
                        <div class="d-flex justify-content-end mb-3">
                            <input type="submit" value="Update" class="btn btn-primary mt-4"/>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    let setCount = @(Model.Sets == null || !Model.Sets.Any() ? 0 : Model.Sets.Count());
</script>
<script src="~/js/createWorkout.js"></script>

</body>
</html>