@model Workout
@{
    var maxSets = Model.Sets.Any() ? Model.Sets.Count : 0;
}

<!DOCTYPE html>

<html>
<head>
    <title>Workouts</title>
</head>
<body>
<h2>Workouts</h2>
<div>
<table class="table">
    <thead>
    <tr>
        <th rowspan="2">ID</th>
        <th rowspan="2">Date</th>
        <th rowspan="2">Exercise Name</th>

        @for (int i = 1; i <= maxSets; i++)
        {
            <th colspan="2">Set @i</th>
        }

        <th>Notes</th>
    </tr>
    <tr>
        @for (int i = 1; i <= maxSets; i++)
        {
            <th>Weight</th>
            <th>Reps</th>
        }
    </tr>
    </thead>
    
    <tr>
        <td>@Model.WorkoutId</td>
        <td>@Model.WorkoutDate.ToString("yyyy-MM-dd")</td>
        <td>@Model.ExerciseName</td>

        @for (int i = 0; i < Model.Sets.Count(); i++)
        {
            if (i < Model.Sets.Count())
            {
                <td>@Model.Sets[i].Weight</td>
                <td>@Model.Sets[i].Reps</td>
            }
            else
            {
                <td></td>
                <td></td>
            }
        }
        <td>@Model.Notes</td>
    </tr>
</table>
</div>
    
    
    @* <table class="table"> *@
    @*     <tr> *@
    @*         <th>ID</th> *@
    @*         <th>Date</th> *@
    @*         <th>Exercise Name</th> *@
    @*         <th>Sets</th> *@
    @*         <th>Reps</th> *@
    @*         <th>Notes</th> *@
    @*     </tr> *@
    @*     <tr> *@
    @*         <td>@Model.WorkoutId</td> *@
    @*         <td>@Model.WorkoutDate.ToString("yyyy-MM-dd")</td> *@
    @*         <td>@Model.ExerciseName</td> *@
    @*         <td>@Model.Sets</td> *@
    @*         <td>@Model.Reps</td> *@
    @*         <td>@Model.Notes</td> *@
    @*     </tr> *@
    @* </table> *@

</body>
</html>